/** @format */

@font-face {
  font-family: 'LemonMilk regular';
  src: url('../fonts/LemonMilk.woff') format('woff2');
}
@font-face {
  font-family: 'LemonMilk light';
  src: url('../fonts/LemonMilklight.woff') format('woff2');
}

body {
  font-family: 'LemonMilk light';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #838080;
  height: 100%;
  background-color: #ecf0f3;
}

*::-moz-selection {
  background: #d6b161;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
ul {
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 1700px;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.red-color {
  color: rgb(216, 64, 64);
}
a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: #fff;
  text-decoration: none;
}
/*login form area start here*/
.login-form-area {
  background-image: url(../img/bg/login-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.form-right {
  padding-right: 80px;
}
.form-right form {
  max-width: 470px;
  display: inline-block;
}
.form-right h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  margin-bottom: 90px;
}
.form-right input {
  height: 55px;
  line-height: 55px;
  display: inline-block;
  width: 100%;
  background: none;
  border: 0px;
  border-bottom: 2px solid #fff;
  color: #878787;
  font-size: 25px;
  outline: none;
  margin-bottom: 55px;
}
.form-right input::-moz-placeholder {
  text-transform: uppercase;
}
.form-right input::placeholder {
  text-transform: uppercase;
}
.checkbox-wrap {
}
.checkbox-wrap input[type='checkbox'] + label {
  display: block;
}
.checkbox-wrap input[type='checkbox'] {
  display: none;
  cursor: pointer;
}
.form-right .checkbox-wrap input[type='checkbox'] + label:before {
  content: '\f00c';
  font-family: 'Font Awesome 5 Pro';
  border: 3px solid #fff;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  margin-right: 10px;
  color: transparent;
  transition: all linear 0.2s;
  font-size: 18px;
  line-height: 1;
}
.checkbox-wrap input[type='checkbox'] + label:active:before {
  transform: scale(0);
}
.checkbox-wrap input[type='checkbox']:checked + label:before {
  background: #444;
  color: #fff;
  border-color: #fff;
}
.checkbox-wrap label {
  margin-bottom: 45px;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
}
.loging-btn button,
a.button {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  height: 55px;
  line-height: 55px;
  border: 0px;
  outline: 0px;
  padding: 0px 50px;
  background: #37ad03;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}
/*login form area end here*/

h1 {
  font-size: 41px;
  line-height: 1.75;
}
h2,
.search-header label {
  font-size: 33px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 22px;
}
a,
a:hover {
  color: inherit;
  font-style: normal;
}
a {
  font-size: 16px;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
p {
  font-size: 1.57rem;
  font-weight: normal;
  line-height: 1.62;
  color: #000000;
  margin-bottom: 15px;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
*::-moz-selection {
  background: #d6b161;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #ebb70f;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #ebb70f;
  color: #fff;
  text-shadow: none;
}
*::-webkit-input-placeholder {
  color: #f9eab7;
  font-size: 22px;
  opacity: 1;
  font-weight: 600;
}
*:-ms-input-placeholder {
  color: #f9eab7;
  font-size: 22px;
  opacity: 1;
  font-weight: 600;
}
*::placeholder {
  color: #f9eab7;
  font-size: 22px;
  opacity: 1;
  font-weight: 600;
}

/* button style */
a.large-btn {
  padding: 10px 25px;
  background-color: #36ab0c;
  border-radius: 5px;
  font-size: 19px;
  display: table;
  color: #fff;
  flex: none;
  margin-right: 10px !important;
}
a.large-btn:hover {
  background-color: #258004;
  color: #ffffff;
}
a.sm-btn {
  padding: 7px 14px;
  background-color: #36ab0c;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
}
.search {
  color: #838080 !important;
  background-color: #dddedf !important;
}
/* Menu btn */
.menuopenclose .first,
.menuopenclose .last {
  display: none;
}
.menuopenclose .middle1 {
  transform: rotate(45deg);
}
.menuopenclose .middle2 {
  transform: rotate(-45deg);
}
.menu-btn {
  height: 20px;
  display: none;
  width: 31px;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  margin-right: 12px;
}

.menu-logo {
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  background-color: #36ab0c;
  transition: 0.35s;
}
.first {
  top: 0%;
}
.middle {
  top: 50%;
}
.last {
  top: 100%;
}
.main-menu .menu-btn {
  position: fixed;
  top: 37px;
  right: 40px;
  z-index: 999;
}
.main-menu .menu-btn .menu-logo {
  background-color: #fff;
}
/* Header Css */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  z-index: 999;
}
.header-top {
  display: flex;
  align-items: center;
}
.header-menu-icon {
  display: none;
}

/* sidebar */
.sidebar {
  padding: 70px 0px 15px 0px;
  position: fixed;
  top: 60px;
  left: 0;
  background-color: #444444;
  height: calc(100% - 60px);
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sidebar-logo {
  text-align: center;
}
.menu li img {
  height: 20px;
  width: 20px;
  color: #fff;
  margin-right: 10px;
}
.footer-copyright p {
  color: rgb(14, 196, 14);
  font-size: 14px;
}
.sidebar-main {
  width: 100%;
}

.sidebar-menu .menu {
  width: 100%;
  display: block;
}
.user {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 70px;
}
.sidebar-menu .menu a:hover,
.sidebar-menu .menu a.active {
  background-color: #353535;
}
.username:hover {
  color: #fff;
}
.sidebar-menu .menu a,
.username {
  font-size: 17px;
  color: #fff;
  display: block;
  width: 100%;
  padding: 18px 15px;
  transition: 0.35s;
}
.sidebar-menu .menu a i {
  margin-right: 12px;
}

/* 
  main-area
  */
.main-area {
  height: 100%;
  margin-top: 60px;
  width: 85%;
  margin-left: 15%;
  padding: 5px 25px;
  background-color: #ecf0f3;
}
.main-content {
  background-color: #fff;
  padding: 25px;
}
.content-area {
  border: 1px solid #a19e9e;
  padding: 25px;
}
label.checkbox-label {
  display: block;
  position: relative;
  padding-right: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.checkbox-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #838080;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-label:hover input ~ .checkmark {
  background-color: rgb(212, 212, 212);
}
.checkbox-label input:checked ~ .checkmark {
  background-color: #dddedf;
}
.search-header form,
.search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-header form input {
  margin: 0 10px;
}
input:focus {
  border-color: #ffffff;
  box-shadow: none;
}
input::placeholder {
  color: #838080;
  padding: 7px 15px;
}
#accountId {
  background-color: #dddedf;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  padding: 8px 15px;
  border: none;
}
input {
  border-color: #5f5f5f;
}
.search-form {
  height: 40px;
  line-height: 40px;
  position: relative;
  width: 100%;
}
.search-input {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 8px;
}
.search-input input {
  width: 100% !important;
  padding-top: 5px;
}
.dashboard .search-input input {
  min-width: 100%;
}
.dashboard .row {
  width: 100% !important;
}
.search-input i {
  position: absolute;
  right: 8px;
  line-height: 40px;
  font-size: 22px;
  top: 0;
}
.search-form input#search,
.table-upload input {
  width: 75%;
  padding: 0px 15px;
  border: 1px solid #5f5f5f;
}
.divider {
  background-color: #ecf0f3;
  box-shadow: 5px 5px -20px #c1c4c7;
  height: 50px;
  width: 100%;
  margin: 25px 0;
}

.from-area input {
  height: 45px;
  width: 100%;
  background-color: #c1c4c7;
  margin-bottom: 22px;
  border: none;
  padding: 15px;
}
input.note {
  height: 100px;
}
.from-area input::placeholder {
  font-size: 20px;
  color: #838080;
  font-weight: normal;
}
.upload.upload {
  background-color: #fff;
  height: 35px;
  margin-bottom: 0;
  border: 1px solid #333;
}
.search-header .row {
  width: 100%;
}
.upload-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 0 20px;
}
.info-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.save-btn {
  margin: 5px 0 5px auto;
  padding: 7px 40px !important;
}

/* AccountList */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: none;
  margin-top: 15px;
}
.update {
  text-align: end;
}
td,
th {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
thead tr {
  background-color: rgb(180, 180, 180);
  box-shadow: 0 0 -10px #ddd;
}
.dash-ub {
  margin-left: 8px;
}
.status {
  background-color: rgba(248, 248, 248, 0.979);
  padding: 6px 16px;
  border-radius: 5px;
  text-align: center;
}
td,
th,
option {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}
.table-upload {
  padding: 0;
}
.table-upload input {
  max-width: 400px;
  width: 90%;
  height: 40px;
  padding: 5px 12px;
}
.table-footer {
  padding: 20px 20px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
}
.pagination a,
.pagination i {
  cursor: pointer;
  text-transform: uppercase;
}
.page {
  display: flex;

  align-items: center;
  justify-content: space-around;
}
.page a {
  margin: 0 17px;
}
/* Dashboard */
.inline-center {
  display: flex;
  align-items: center;
}
.text-end {
  text-align: end;
}
.dashboard-revinew-area li {
  font-size: 35px;
}
.color {
  color: #37ad03;
}
.dashboard-revinew-area li.count {
  font-size: 40px;
}
.dashboard-revinew-area li a {
  text-align: right;
  margin-left: 10px;
}
/* Custom switch toggle */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 14px;
  border-radius: 50px;
  background-color: #d4d4d4;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(62, 50, 240);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #69a1cf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #69a1cf;
}

input:checked + .slider:before {
  transform: translate(27px, -50%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.refresh i {
  font-size: 18px;
  color: #fff;
}
.refresh {
  background-color: #444444;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
}

/* Footer copyright */
.copyright-text {
  font-size: 16px;
  color: #838080;
  padding: 10px 0;
  text-align: center;
}

.from-area .col-lg-8.row {
  margin: 0;
  padding: 0;
}
.sidebar-footer .footer-copyright {
  cursor: pointer;
}
